:root {
  --background-color: #21283A;
  --background-image: url('../images/header.png');
  --background-image-rotate: url("../images/footer.png");
  --color: #FFFFFF;
  --color-black: #000;
}

@keyframes Signature {
  55% {
    stroke-dashoffset: 0000;
  }

  100% {
    stroke-dashoffset: 0000;
    fill: white;
    stroke: none;
  }
}
@keyframes Blind {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;

  font-family: 'MC', -apple-system, Roboto, sans-serif;
  font-weight: 400;
  box-sizing: border-box;

  color: var(--color);
}

.App {
  position: relative;
  width: 100%;

  color: var(--color);

  margin: auto;

  background: var(--background-image) no-repeat;
  background-color: var(--background-color);
  background-size: contain;
  overflow-x: hidden;
}

.d-flex {
  display: flex;
}

.d-inline {
  display: inline-block;
}

.text-center {
  text-align: center  ;
}

.text-right {
  text-align: right;
}

.text-brown {
  color: #CCBA9C;
}

.row {
  display: flex;
  height: 100%;
  gap: 20px;
}

.cols {
  flex: 0 1 50%;
}

/* #region Override */
h1 {
  font-size: 11.5rem;
}

h3 {
  font-size: 50px;
}
h4 {
  font-size: 50px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 24.38px;
  font-weight: normal;
}
li {
  list-style-type: none;
}
a {
  color: var(--color);
  text-decoration: none;
}
/* #endregion*/

/* #region Content */
header {
  padding-top: 252px;

  color: #ffffff;
  text-align: center;

  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
header div.title {
  text-align: center;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  padding-bottom: 64px;

  margin: auto;
}
header div.title h1 { 
  position: relative;
}
header div.title h1::after {
  content: "";
  -webkit-mask: url("../icons/star.svg") 50% 50% no-repeat;
  mask: url("../icons/star.svg");
  /* padding-left: 25px; */
  -webkit-mask-size: contain;
  mask-size: contain;
  background: white;
  position: absolute;

  top: 20%;
  right: -80px;

  width: 55px;
  height: 55px;
}

header div.title h4 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-family: 'Salsa';
  margin-top: -45px;
  text-align: right;
}
header div.title h4::after,
header div.title h4::before {
  position: absolute;
  content: "";
  bottom: 10px;
  display: inline-block;
  padding: 14px;
  margin: 0 14px;
  border-bottom: 4px solid white;
}
header div.title h4::after {
  left: -55px;
}
header div.title h4::before {
  right: -55px;
}

header div.banner svg{
  width: 100%;
  transform: rotateY(180deg);
  transform-origin: center;
}

header div.banner svg.active .svg-star {
  opacity: 0;
  animation: Blind 1s infinite 4.3s;
}
header div.banner svg.active .a {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;

  animation-name: Signature;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.55, .25, .43, 1);
}
header div.banner svg.active .b {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;

  animation-name: Signature;
  animation-duration: 8.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.25, -0.1, .43, .5);
}
header div.banner svg.active .c {
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;

  animation-name: Signature;
  animation-duration: 6.7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.55, -0.43, 0.8, 1);
}

main *{
  font-family: 'Salsa', 'Courier New', Courier, monospace;
}
main div {
  text-align: center;
}

main .title {
  position: relative;
}
main .title span {
  position: relative;
}
main .title span::before {
  right: -68px;
}
main .title span::after {
  left: -68px;
}
main .title span::before, 
main .title span::after {
  content: "";
  width: 30px;
  height: 30px;
  background: url("../icons/star.svg") no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

main .music * {
  font-family: 'iCiel';
}
main .music {
  text-align: left;
  padding: 138px 50px;
}

main .music .image {
  background: url("../images/music-background.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 300px;
  border: 5px solid #FFFFFF;
  border-radius: 25px;
}

main .music .lyric {
  height: 102px;
  font-size: 48px;
}

main .music .lyric {
  padding: 40px 0;
  font-size: 32px;
  font-family: 'Salsa';
}

main .music .duration {
  background: #90939C;
  border: 4px solid #90939C;
  border-radius: 100px;
  margin: 34px 0;
  position: relative;
  cursor: pointer;
}
main .music .duration div{
  pointer-events: none;
  top: -4px;
  left: -3px;
  background: white;
  border: 4px solid white;
  border-radius: 100px;
  position: absolute;
  padding-left: var(--duration);
}


main .music .control {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

main .music .control .icon::after {
  cursor: pointer;
}
main .music .control .play::after {
  width: 64px;
  height: 64px;
}
main .music .control .pause::after {
  width: 64px;
  height: 64px;
}
main .music .control .back::after,
main .music .control .next::after {
  width: 45px;
  height: 45px;
}

/*
 * Questions  
 */
main .question .title {
  margin: 73px auto;
}
main .question .content ul {
  display: flex;
  /* width: 75%; */
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  /* gap: 58px 47px; */
  padding: 0 50px;
}
main .question .content ul li {
  min-width: 250px;
  aspect-ratio: 1/1;
  border: 5px solid white;
  margin: calc(58px / 2) calc(47px / 2);
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
main .question .content ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  background: url("../icons/stars.svg") no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  transition: opacity 400ms;
}
main .question .content ul li i::after {
  content: "";
  display: block;
  width: 135px;
  height: 135px;
  border: 1px solid red !important;

  -webkit-transition: -webkit-transform .4s ease-in-out;
  -ms-transition: -ms-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
main .question .content ul li:hover::before {
  opacity: 1;
}
main .question .content ul li:hover i::after {
  /* transform: rotate(30deg); */
  animation: shake 1.6s infinite;
} 

/*
 * Gift
 */
main .gift {
  z-index: 1;
}
main .gift .title {
  margin-top: 111px;
}
main .gift .content {
  display: flex;
}
main .gift .content div {
  background-color: transparent;
}
main .gift .content ul {
  display: flex;
  /* width: 75%; */
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  /* gap: 58px 47px; */
}
main .gift .content ul li {
  align-items: flex-end;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  margin: 12px calc(172px / 2);
  position: relative;
  width: 210px;
}
main .gift .content ul li.gift-item.active i::after {
  -webkit-mask: url("../icons/gift-opened.svg")  no-repeat;
  mask: url("../icons/gift-opened.svg")  no-repeat;
}
main .gift .content ul li i {
  position: relative;
  cursor: pointer;
}
main .gift .content ul li i::after {
  width: 120px;
  height: 126px;
}

main .gift .content ul li div i::before {
  content: "";
  display: block;
  position: absolute;
  width: 206px;
  top: -85px;
  left: 58px;
  transform: translate(-50%, -50%);
  background: url('../icons/gift-hover-effect.svg');
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s;
}
main .gift .content ul li div:hover i::before {
  opacity: 1;
}
main .gift .content ul li div:hover i::after {
  -webkit-mask: url("../icons/gift-fill.svg") no-repeat;
  mask: url("../icons/gift-fill.svg") no-repeat;
}

footer {
  width: 100%; 
  position: relative;
}
footer .image {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: unset;
  background: var(--background-image-rotate) no-repeat;
  background-size: cover;
  background-position: bottom
}
footer > div {
  z-index: 1;
    position: relative;
  padding: 131px 0 86px 0;
  text-align: center;
  
  width: 100%;
  max-width: 846px;

  margin: auto;
}
footer * {
  font-family: 'Salsa';
}
footer .title {

}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;

  font-size: 24px;
}
footer .content .socials {
  display: flex;
  gap: 32px;
}
footer .content .icon::after {
  width: 46px;
  height: 46px;
}
.footer-image {
  position: absolute;
  padding-top: 750px;
  background: var(--background-image-rotate) no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* #endregion */

/* #region Modal */
canvas {
  /* display: none; */
  position: absolute;
  /* width: 100%; */
  height: 100%;
}

.snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 2;
  pointer-events: none;
}

body.modal-showed {
  overflow: hidden;
  position: relative;
}
.modal-container {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0, 0.4); /* Fallback color */
}

.modal-container.bg-white {
  background-color: #21283A;
}

.modal-container.show {
  display: block;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: 1px solid #888;
  width: 727px;
  height: 498px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal .container { 
  padding: 4px;
  height: 100%;
}

.modal .container p , 
.modal .container span {
  font-family: 'Dongle';
}
.modal .container h3 {
  font-family: 'iCielKL Soulbeams';
  letter-spacing: 2px;
  font-size: 54px;
  line-height: 54px;
}
.modal .container h4 {
  font-size: 36px;
} 
.modal .container h6 {
  font-family: 26px;
}
.modal .container h4,
.modal .container h6 {
  font-family: RB;
  letter-spacing: 2px;
}
.modal.question {
  background: url('../images/Card_Question_Background.png') no-repeat;
  background-size: cover;
  background-position: center;

  padding: 45px 32px;
}
.modal.question .container {
  padding: 0;
}
.modal.question h3 {
  margin-bottom: 20px;
}
.modal.question p {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}
.modal.question img {
  width: 100%;
}
.modal.question.name {
  background: url("../images/question-name.png") no-repeat;
  background-position: center;
  box-shadow: none;
  border: none;
  padding: 70px 242px 120px 115px;
}
.modal.question.name p{
  padding: 0 25px;
  color: black;
  font-size: 50px;
  line-height: 55px;
  margin: 0;
  pointer-events: none;
}
.modal.question.name input {
  border: none;
  border-bottom: 1px dotted black;
  margin: 0 75px;
  font-size: 30px;
  color: black;
  width: 199px;
  font-family: 'Dongle';
  outline: none;
}


.modal.gift .container > div {
  align-items: baseline;
}

.modal.gift.snow-1 {
  background: url('../images/gift_1.png') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-1 .container {
  margin: 0px 52px 0 294px;
  padding: 90px 0 0 0 ;
  color: var(--color);
  line-height: 30.89px;
}
.modal.gift.snow-1 .container h3 {
  font-size: 36px;
}
.modal.gift.snow-1 .container p {
  font-size: 26px
}

.modal.gift.snow-2 {
  background: url('../images/gift_2.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-2 .container {
  margin: 0 15px 0 394px;
  padding: 100px 0 115px 0;
  color: #003561;
  line-height: 117.8%;
}
.modal.gift.snow-2 .container h3,
.modal.gift.snow-2 .container p {
  color: #003561;
}
.modal.gift.snow-2 .container h3 {
  font-size: 36px;
  line-height: 36px;
  font-family: 'iCielKL Soulbeams';
}
.modal.gift.snow-2 .container p {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.modal.gift.snow-3 {
  background: url('../images/gift_3.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-3 .container {
  margin: 0 30px 0 370px;
  padding: 190px 0 115px 0;
  color: #003561;
  line-height: 117.8%;
}
.modal.gift.snow-3 .container h3 {
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-family: 'iCielKL Soulbeams';
}
.modal.gift.snow-3 .container p{
  font-family: 'Dongle';
  font-size: 22px;
  line-height: 22px;
  color: #000;
  font-weight: 500;
}

.modal.gift.snow-4 {
  background: url('../images/gift_4.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-4 .container {
  margin: 0 38px 0 353px;
  padding: 94px 0 104px 0;
}
.modal.gift.snow-4 .container h3 {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 16px;
}
.modal.gift.snow-4 .container p {
  font-size: 24px;
  line-height: 24.67px;
}
.modal.gift.snow-4 .container span {
  font-family: "Gloria Hallelujah";
  font-size: 12px;
}

.modal.gift.snow-5 {
  background: url('../images/gift_5.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-5 .container {
  margin: 0px 55px 0 395px;
  padding: 102px 0 118px 0;
}
.modal.gift.snow-5 .container h3 {
  font-size: 36px;
  line-height: 36px;
}
.modal.gift.snow-5 .container p {
  font-size: 24px;
  line-height: 24.67px;
}

.modal.gift.snow-6 {
  background: url('../images/gift_6.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-6 .container {
  margin: 0px 27px 0 340px;
  padding: 89px 0 178px 0;
}
.modal.gift.snow-6 .container h3 {
  font-size: 36px;
  line-height: 36px;
}
.modal.gift.snow-6 .container p {
  font-size: 20px;
  line-height: 24.67px;
}

.modal.gift.snow-7 {
  background: url('../images/gift_7.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-7 .container {
  margin: 0px 32px 0 359px;
  padding: 100px 0 160px 0;
}
.modal.gift.snow-7 .container h3 {
  font-size: 36px;
  line-height: 36px;
}
.modal.gift.snow-7 .container p {
  font-size: 24px;
  line-height: 24.67px;
}

.modal.gift.snow-8 {
  background: url('../images/gift_8.png ') no-repeat;
  background-size: cover;
  background-position: center;
}
.modal.gift.snow-8 .container {
  margin: 0px 32px 0 359px;
  padding: 110px 0 160px 0;
}
.modal.gift.snow-8 .container p {
  font-size: 24px;
  line-height: 24.67px;
}

.modal.gift.snow-9 {
  background: url('../images/gift_9.png ') no-repeat;
  background-size: cover;
  background-position: center;
}

.modal.gift.snow-9 .container {
  margin: 0px auto;
  padding: 210px 0 60px 0;
  text-align: center;
}
.modal.gift.snow-9 .container h3 {
  font-size: 36px;
  line-height: 36px;
}
.modal.gift.snow-9 .container p {
  font-size: 24px;
  line-height: 24.67px;
}

/* #endregion */

/* #region Animation */
@-webkit-keyframes animatetop {
  from {top:-50%; opacity:0} 
  to {top:50%; opacity:1}
}

@keyframes animatetop {
  from {top:-50%; opacity:0}
  to {top:50%; opacity:1}
}

@keyframes shake {
  /* 0% { transform: rotate(0deg) }
  22% { transform: rotate(30deg) }
  50% { transform: rotate(0deg) }
  72% { transform: rotate(-30deg) }
  100% { transform: rotate(0deg) } */
  0% { transform: rotate(0); }
  15% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  45% { transform: rotate(8deg); }
  60% { transform: rotate(-8deg); }
  75% { transform: rotate(6deg); }
  85% { transform: rotate(-6deg); }
  92% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}

/* #endregion */