@media screen and (max-width: 992px) {
  header div.title h4 {
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 700px) {
  .modal .container h3 {
    font-size: 34px !important;
  }

  .modal .container p {
    font-size: 20px !important;
  }

  .modal.gift {
    min-width: 720px;
  }
}

@media screen and (max-width: 512px) {
  header .title h1 {
    font-size: 7rem !important;
  }

  header .title h4 {
    font-size: 1.5rem !important;
  }

  main .music .lyric {
    height: 160px !important;
  }

  main .gift .content ul {
    padding: 0 !important;
  }

  main .title span::after {
    left: -34px !important;
  }

  main .gift .title span::before {
    right: -34px !important;
  }

  .modal-container.show {
    display: block !important;
    padding: 150px 10px;
  }

  main .gift .content ul li {
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 50px 0;
  }

  main .music .image {
    min-height: 250px !important;
    margin: 0 -50px !important;
  }
}