@media screen and (max-width: 992px) {
  header div.title h4 {
    margin: 0 auto;
  }

  main .gift .content ul li {
    margin: 12px;
  }

  footer .content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 700px) {
  .modal .container h3 {
    font-size: 34px;
  }

  .modal .container p {
    font-size: 20px;
  }

  .modal.gift {
    min-width: 720px;
  }
}

@media screen and (max-width: 512px) {
  h3 {
    font-size: 36px;
  }

  header {
    padding-top: 175px;
  }

  header .title h1 {
    font-size: 7rem;
  }

  header .title h4 {
    font-size: 1.5rem;
  }

  header div.banner svg {
    height: auto;
    margin: 12vw 0;
  }

  main .music {
    padding-left: 15px;
    padding-right: 15px;
  }

  main .music .lyric {
    font-size: 26px;
  }

  main .music .image {
    min-height: 250px;
    margin: 0 -15px;
  }

  main .gift .content ul {
    padding: 0;
  }

  main .title span::after {
    left: -34px;
  }

  main .question h3 {
    display: block;
  }

  main .question .content ul li {
    min-width: 200px;
  }

  .modal-container.show {
    display: block;
    padding: 150px 10px;
  }

  main .gift .title span::before {
    right: -34px;
  }

  main .gift .content ul li {
    padding: 50px 0;
    margin: 15px;
  }

  footer>div {
    padding-top: 50px;
  }

  footer .content {
    display: block;
  }

  footer .content .socials {
    justify-content: center;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 325px) {
  header .title h1 {
    font-size: 4rem;
  }

  header div.title h4 {
    font-size: 1.5em;
  }

  main .music .lyric {
    font-size: 20px;
  }

  footer .title {
    font-size: 36px;
  }
}