@import 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Salsa", system-ui, sans-serif;
  }
}

body {
  width: 100%;
  background: #21283a;
  overflow-x: hidden;
  overflow-y: overlay;
}

body.show-modal {
  overflow: hidden;
}

#layout {
  min-height: 100vh;
  background-color: #21283a;
  background-image: url('/images/header-mobile.png'), url('/images/footer-mobile.png');
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  background-size: contain, contain;
} 

@media (min-width: 768px) {
  #layout {
    background-image: url('/images/header.png'), url('/images/footer.png');
  } 
}

.nuxt-icon {
  width: 100% !important;
  height: 100% !important;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.48) !important;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.modal-container .modal {
  z-index: 20;
}